# =====================================
# Projeto
# =====================================
DATA_PATH=/home/sparck/docker-data/appportal

PROJECT_NAME=site

PROJECT_DOMAIN=site.local

# =====================================
# Banco de Dados
# =====================================

DB_NAME=site

DB_USER=site

DB_PASSWORD=site123

MYSQL_ROOT_PASSWORD=root123

# =====================================
# Backup
# =====================================

BACKUP_ENABLED=true

BACKUP_FREQUENCY=daily